<footer class="footer bg-admin-light text-admin-dark py-5 mt-auto">
  <div class="container">

    <div class="row align-items-center">

      <div class="col-md-6 mb-4 text-center text-md-start">
        <h5 class="fw-bold mb-3">Contactez moi</h5>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="mb-2">
            <input type="text" class="form-control" placeholder="Votre nom" formControlName="name">
            <div class="text-danger" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
              Nom requis
            </div>
          </div>

          <div class="mb-2">
            <input type="email" class="form-control" placeholder="Votre email" formControlName="email">
            <div class="text-danger" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
              Email invalide
            </div>
          </div>

          <div class="mb-2">
            <textarea class="form-control" rows="3" placeholder="Votre message" formControlName="message"></textarea>
            <div class="text-danger" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
              Message requis
            </div>
          </div>

          <button type="submit" class="btn btn-admin">Envoyer</button>
        </form>
      </div>

      <div class="col-md-6 mb-4 d-flex flex-column justify-content-center align-items-center">
        <h5 class="fw-bold mb-3 text-center">Suivez moi</h5>
        <div class="d-flex justify-content-center justify-content-center gap-4 w-100">
          <a href="https://www.instagram.com/liberty_ceramique/?hl=fr" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram fs-3 text-admin-dark"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="text-center mt-4 small text-muted">
      &copy; 2026 Liberty Ceramique. Tous droits réservés.
    </div>

  </div>
</footer>
