<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-sm p-4 w-100" style="max-width: 600px;">
    <h3 class="display-6 fw-bold text-center mb-4">Créer un nouveau produit</h3>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input class="form-control" formControlName="name">
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label">Prix</label>
          <input type="number" class="form-control" formControlName="price">
        </div>

        <div class="col-md-8">
          <label class="form-label">Catégorie</label>
          <select class="form-select" formControlName="categoryId">
            <option [value]="null">-- Sélectionner --</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Images du produit</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="uploadFile" multiple (change)="onFileSelected($event)">
          <label class="input-group-text" for="uploadFile">Upload</label>
        </div>

        <div class="d-flex flex-wrap gap-2 mt-2">
          @for (img of previewImages; track img) {
            <img [src]="img" class="img-thumbnail rounded shadow-sm" style="max-width: 100px; max-height: 100px;">
          }
        </div>
      </div>


      <button type="submit" class="btn btn-admin w-100" [disabled]="productForm.invalid">
        Créer
      </button>

    </form>
    @if(successMessage) {
      <div div class="text-success mt-3 text-center fw-semibold" id="success-message">{{ successMessage }}</div>
    }
    @if(errorMessage) {
      <div class="text-danger mt-3 text-center fw-semibold" id="error-message">{{ errorMessage }}</div>
    }
  </div>
</div>
